@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --color-ring: var(--ring);
  --color-border: var(--border);
  --color-section: var(--section);
  --color-section-foreground: var(--section-foreground);

  --text-h1: 3.5rem;
  --text-h2: var(--text-5xl); /* 3rem */
  --text-h3: 2.75rem;
  --text-h4: 2rem;
  --text-h5: var(--text-2xl); /* 1.5rem */
  --text-h6: var(--text-xl); /* 1.25rem */
  --text-big: var(--text-h3); /* 2.75rem */

  --container-8xl: 1400px;

  /* TODO: Not yet fully defined: */
  --font-sans: var(--font-satoshi);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-input: var(--input);
  --color-destructive: var(--destructive);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  /* Animations */
  --animate-quick-trace: quick-trace 2s ease-in-out infinite;
  --animate-write-on-off: write-on-off 2s ease-in-out infinite;
  --animate-fade-in-pause-out: fade-in-pause-out 5s linear infinite;

  @keyframes quick-trace {
    0% {
      stroke-dasharray: 10% 200%;
      stroke-dashoffset: -50%;
    }

    100% {
      stroke-dasharray: 10% 200%;
      stroke-dashoffset: 50%;
    }
  }

  @keyframes write-on-off {
    0% {
      stroke-dasharray: 100% 100%;
      stroke-dashoffset: -100%;
    }

    100% {
      stroke-dasharray: 100% 100%;
      stroke-dashoffset: 100%;
    }
  }

  @keyframes fade-in-pause-out {
    0%,
    75% {
      opacity: 0;
    }

    10%,
    50% {
      opacity: 0.3;
    }
  }
}

:root {
  --radius: 0.625rem;

  /* Defaults: near-black on off-white */
  --background: oklch(0.982 0 0); /* #F9F9F9 off-white bg */
  --foreground: oklch(0.25 0 0); /* #222222 near-black text */

  /* Primary section colors: white text on dark blue */
  --primary: oklch(19.778% 0.11254 267.418); /* #040847 dark blue background */
  --primary-foreground: oklch(1 0 0); /* #FFFFFF white text*/

  /* Card: near-black on white */
  --card: oklch(1 0 0); /* #FFFFFF white bg */
  --card-foreground: oklch(0.25 0 0); /* #222222 near-black text */

  /* Section: black on gray */
  --section: oklch(0.943 0 0); /* #ECECEC gray */
  --section-foreground: oklch(0 0 0); /* #000000 black */

  /* Bright blue on standard background */
  --secondary: oklch(0.982 0 0); /* #F9F9F9 */
  --secondary-foreground: oklch(42.53% 0.24154 263.919); /* #0030CF */

  /* Accented text on standard background */
  --accent: oklch(0.982 0 0); /* #F9F9F9 */
  --accent-foreground: oklch(
    71.364% 0.14352 74.116
  ); /* #D7931E Yellow accent text */

  /* Disabled background and light text */
  --muted: oklch(0.86 0 0); /* #D1D1D1 */
  --muted-foreground: oklch(0.542 0 0); /* #6F6F6F gray */

  --destructive: oklch(0.75 0.25 27);

  --border: var(--color-neutral-300); /* #D4D4D4 */
  --ring: var(--accent-foreground);

  --chart-1: oklch(0.4253 0.2415 263.919); /* #0030CF */
  --chart-2: oklch(0.6403 0.2309 316.464); /* #C150E7 */
  --chart-3: oklch(0.6308 0.1009 183.889); /* #2A9D90 */
  --chart-4: oklch(0.8235 0.133 78.368); /* #F4BA57 */
  --chart-5: oklch(0.8583 0.1133 192.495); /* #68E8E4 */

  /* TODO: Not yet fully defined */
  --popover: oklch(0.982 0 0); /* #F9F9F9 off-white bg */
  --popover-foreground: oklch(0.25 0 0); /* #222222 near-black text */
  --input: oklch(0.922 0 0); /* #E5E5E5 */
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply leading-normal font-bold;
  }
  h1 {
    @apply text-h2 sm:text-h1 tracking-[0.07rem];
  }
  h2 {
    @apply text-h2 tracking-[0.06rem];
  }
  h3 {
    @apply text-h3 tracking-[0.055rem];
  }
  h4 {
    @apply text-h4 tracking-[0.04rem];
  }
  h5 {
    @apply text-h5 tracking-[0.03rem];
  }
  h6 {
    @apply text-h6/[1.4];
  }

  button,
  a {
    @apply cursor-pointer;
  }
  
  a {
    @apply text-section-foreground hover:text-section-foreground/70 font-medium;
  }
  a.css-primary {
    @apply text-primary-foreground hover:text-primary-foreground/70;
  }
  .css-primary-conditional {
    @apply group-has-[.css-primary-invert]/body:text-primary-foreground group-has-[.css-primary-invert]/body:hover:text-primary-foreground/70;
  }
  a.css-secondary {
    @apply text-secondary-foreground hover:text-secondary-foreground/70;
  }

  .css-forward-arrow {
    @apply after:content-["\00A0→"];
  }

  @keyframes hero-bg-slide {
    to {
      transform: translateX(var(--x-travel));
    }
  }
}
