@import "tailwindcss";
@import "tw-animate-css";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --color-ring: var(--ring);
  --color-border: var(--border);

  /* TODO: Not yet fully defined: */
  --font-sans: var(--font-satoshi);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-input: var(--input);
  --color-destructive: var(--destructive);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 0.625rem;

  /* Defaults: near-black on off-white */
  --background: oklch(0.982 0 0); /* #F9F9F9 off-white bg */
  --foreground: oklch(0.25 0 0); /* #222222 near-black text */

  /* Card: near-black on white */
  --card: oklch(1 0 0); /* #FFFFFF white bg */
  --card-foreground: oklch(0.25 0 0); /* #222222 near-black text */
  
  /* Primary section colors: white text on dark blue */
  --primary: oklch(19.778% 0.11254 267.418); /* #040847 dark blue background */
  --primary-foreground: oklch(1 0 0); /* #FFFFFF white text*/

  /* Bright blue on standard background */
  --secondary: oklch(0.982 0 0); /* #F9F9F9 */
  --secondary-foreground:  oklch(42.53% 0.24154 263.919); /* #0030CF */

  /* Disabled background and light text */
  --muted: oklch(0.86 0 0); /* #D1D1D1 */
  --muted-foreground: oklch(0.556 0 0); /* #737373 gray */

  /* Accented text on standard background */
  --accent: oklch(0.982 0 0); /* #F9F9F9 */
  --accent-foreground: oklch(71.364% 0.14352 74.116); /* #D7931E Yellow accent text */

  --border: oklch(0.963 0.011 286); /* #F2F2FA */
  --ring: var(--accent-foreground);

  /* TODO: Not yet fully defined */
  --popover: oklch(0.982 0 0); /* #F9F9F9 off-white bg */
  --popover-foreground: oklch(0.25 0 0); /* #222222 near-black text */
  --destructive: oklch(0.577 0.245 27.325);
  --input: oklch(0.922 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
